<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="main">
        <div class="seller-portal">
            <div class="left-panel">
                <div class="left-panel-container">
                    <div class="heading">
                        <h3>Seller portal</h3>
                    </div>
                    <div class="left-tiles">
                        <div class="dashboard-tile">
                            <div class="dashboard-icon">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </div>
                            <div class="dashboard-title">  
                            <h4>Dashboard</h4>
                            </div>
                    </div>
                    <div class="orders-tile">
                        <div class="orders-icon">
                            <i class="fa-solid fa-box-open"></i>
                        </div>
                        <div class="orders-title">  
                           <h4>Orders</h4>
                        </div>
                    </div>
                    <div class="products-tile">
                        <div class="products-icon">
                            <i class="fa-solid fa-boxes-stacked"></i>
                        </div>
                        <div class="products-title">  
                           <h4>Products</h4>
                        </div>
                    </div>
                    <div class="customers-tile">
                        <div class="customers-icon">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <div class="customers-title">  
                           <h4>Customers</h4>
                        </div>
                    </div>
                    <div class="marketing-tile">
                        <div class="marketing-icon">
                            <i class="fa-solid fa-bullhorn"></i>
                        </div>
                        <div class="marketing-title">  
                           <h4>Marketing</h4>
                        </div>
                    </div>
                    <div class="analytics-tile">
                        <div class="analytics-icon">
                            <i class="fa-solid fa-chart-line"></i>
                        </div>
                        <div class="analytics-title">  
                           <h4>Analytics</h4>
                        </div>
                    </div>

                    </div>

                </div>

            </div>
            <div class="right-panel">
                <div class="right-panel-container">
                    <div class="right-panel-heading">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="sales-overview">
                    <div class="sales-overview-container">
                        <div class="total-sales-card">
                            <div class="total-sales-title">
                                <h3>Total Sales</h3>
                            </div>
                            <div class="total-sales-revenue">
                                <h3>2,5,0000 Rs</h3>
                            </div>
                            <div class="profit-or-loss">
                                <h4 class="profit">+10%</h4>
                            </div>
                        </div>
                         <div class="orders-card">
                            <div class="orders-title">
                                <h3>Orders</h3>
                            </div>
                            <div class="orders-count">
                                <h3>500</h3>
                            </div>
                            <div class="profit-or-loss">
                                <h4 class="profit">+5%</h4>
                            </div>
                        </div>
                        <div class="average-order-card">
                            <div class="average-order-title">
                                <h3>Average Order Value</h3>
                            </div>
                            <div class="average-orderrevenue">
                                <h3>500 Rs</h3>
                            </div>
                            <div class="profit-or-loss">
                                <h4 class="loss">-2%</h4>
                            </div>
                        </div>
                    </div>
                    </div>
                    

                </div>
                </div>
        </div>

    </div>

</div>
