<div class="main">
    <div class="container">
        <div class="nav-bar">
            <div class="nav-elements"> 
                <div class="nav-middle">
                    <div class="pages-links">
                        <div>Home</div>
                        <div>Shop</div>
                        <div>About</div>
                        <div>Login</div>
                    </div>
                </div>
                <div class="nav-right">
                    <div class="nav-right-container">
                        <div class="search-bar">
                            <input type="text" name="search-bar" id="search-bar" placeholder="search for equipements">
                        </div> 
                        <div class="user-action-conatiner">
                            <div class="cart-container" title="cart">

                            </div>
                        </div>
                        <div class="profile" title="profile">
                            <div class="profile-container">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="featured-container">
                <div class="featured-elements">
                    <div class="title">
                            <h1 class="title-text">Gear up for your next adventure</h1>
                            <p class="subtitle-text">Explore our wide range of high quality sports equipements</p>
                    </div>
                    <div class="shop-now-button">
                        <button class="shop-button">Shop now</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>

</div>